#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Install Deck-essentials
Exec=curl  | bash -s --
Icon=steamdeck-gaming-return
Terminal=true
Type=Application
StartupNotify=false
